table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.button{
  background: rgb(94,0,0);
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
  margin: 0, 8px;
}

.deleteButton{
  color: red;
  /* border: red; */
  font-size: 100%;
}

